footer
	.logo
		img(src = "img/Logo.png" alt = "Logo_Mango_Down")
	.texto
		p Lorem ipsum Lorem ipsum
		p Lorem ipsum
	.fb
		img(src="img/fb.png")

	script(src="js/script-dist.js" type="text/javascript")